---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
    
   <style>
* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
</style>
</head>
<body>
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>About</h1>
                    <a class="btn zoombtn" href="{{site.url}}" style="float: left; margin: -70px 0 0 0; -webkit-text-size-adjust: 100%; --animate-duration: 1s; --animate-delay: 1s; --animate-repeat: 1; font-family: Fira Sans,sans-serif; line-height: 1.8571; -webkit-font-smoothing: antialiased !important; text-rendering: optimizelegibility !important; text-align: center; font-weight: bold; box-sizing: border-box; transition: color .4s; display: inline-block; border: 1px solid; border-color: rgba(229,230,233,0.5) rgba(223,224,228,0.5) #d0d1d5; border-radius: 10px; text-decoration: none; background: #fff; padding: 10px 18px; font-size: .875rem; color: #282828; float: left; margin: -70px 0 0 0;">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div>
               
<h2>Who I am</h2>
<p>
I am currently a student focusing on Computer Science. 
<br><br>
Since I was a child, I have been fascinated with technology. I find it intriguing how fast technology has changed in the past decade and how it has shaped society. I have always loved gaining new knowledge every day to help find solutions to world problems and make a positive impact on the future of humanity with the use of computing.
<br><br>
I have taught myself multiple languages including Python, SQL and JavaScript. I love problem solving and getting that satisfaction afterwards. I am constantly working on projects of my own, which can be seen here, and I give computer science my utmost dedication; it is an ever-expanding subject in which my enjoyment will never cease to diminish.
<br><br>
What I love most is the constant development of new ideas and solutions to problems that are able to change the world. Computer science is now at the forefront of breakthroughs in STEM subjects. I am enthusiastic to learn from people who are contributing to the field and wish to transfer my own knowledge and understanding to others.
<br><br>
My ambition to work in computer science originates from my belief that in an ever-changing society, technology holds the key to connecting the world together and making it an increasingly safer and better place to live in.
<br><br>
</p>

<h2>My Passion</h2>

<div class="row"> 
  <div class="column">
    <a href="https://github.com/Faeq-F/Portable-Application-Launcher">
        <img src="https://user-images.githubusercontent.com/61658458/110971703-1b641480-8353-11eb-9860-ca551d4d5b1c.png" alt="Portable-app-launcher">
    </a>
  </div>
  <div class="column">
    <a href="https://github.com/Faeq-F/Quokka">
        <img src="https://raw.githubusercontent.com/Faeq-F/Quokka/main/docs/QuokkaPreview.png" alt="Quokka">
    </a>
    <a href="https://github.com/Faeq-F/ASCII-art-viewer">
        <img src="https://user-images.githubusercontent.com/61658458/116815079-c58e3a80-ab53-11eb-876a-eb8796c0708b.PNG" alt="ASCII art viewer">
    </a>
  </div>  
</div>

    
    

                    <p>Screenshots of some of my programs</p>

<center>Fun Fact</center>
<center>The background of this website is some of my code for <a href="https://github.com/Faeq-F/Quokka">Quokka</a></center>

<br>
                    <script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// Full-width images
function one() {
    for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "100%";  // IE10
    elements[i].style.flex = "100%";
  }
}

// Two images side by side
function two() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "70%";  // IE10
    elements[i].style.flex = "70%";
  }
}

// Four images side by side
function four() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.msFlex = "25%";  // IE10
    elements[i].style.flex = "25%";
  }
}

</script>
                
                <br>
                <br>  
                    <br>  
                    <br>  
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
