---

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

* {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 3rem auto;
}
img {
  display: inline-block;
  max-width: 250px;
  margin: 0 auto;
}
.page-header {
  color: #FFFFFF;
  text-align: center;
  background-color: #FFFFFF;
  background-image: linear-gradient(120deg, #66ffcc, #cc33ff);
  margin: 3rem auto;
  display: block;

  @include large {
    max-width: 64rem;
    margin: 3rem auto;
    display: block;
    border-radius: 15px;
  }

  @include medium {
    border-radius: 15px;
    padding: 3rem 4rem 0 4rem;
    margin: 3rem 3rem 0 3rem;
    max-width: 64rem;
  }

  @include small {
    border-radius: 15px;
    padding: 3rem 2rem 0 2rem;
    margin: 3rem 3rem 0 3rem;
    max-width: 64rem;
  }
}
