
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
/*
* {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 3rem auto;
}
img {
  display: inline-block;
  max-width: 250px;
  margin: 0 auto;
}
.page-header {
  color: #FFFFFF;
  text-align: center;
  background-color: #FFFFFF;
  background-image: linear-gradient(120deg, #66ffcc, #cc33ff);
  margin: 3rem auto;
  display: block;

  @include large {
    max-width: 64rem;
    margin: 3rem auto;
    display: block;
    border-radius: 15px;
  }

  @include medium {
    border-radius: 15px;
    padding: 3rem 4rem 0 4rem;
    margin: 3rem 3rem 0 3rem;
    max-width: 64rem;
  }

  @include small {
    border-radius: 15px;
    padding: 3rem 2rem 0 2rem;
    margin: 3rem 3rem 0 3rem;
    max-width: 64rem;
  }
}
*/
body{
	background: #3A3A42
		box-sizing: content-box}
.menu{
	position: fixed
	height: 100vh
	background: #F9D401
	width: 10vw
	box-shadow: 1px 0 2px rgba(0,0,0,.2)
	transition: 1s
	&:hover
		width: 40vw
	&:hover ~ .container
		transform: perspective(100vw) rotateY(10deg) translateX(35vw) scaleY(1.2)
	&:hover nav
		left: 20%
}
		
.container{
	width: 90%
	margin-left: 10vw
	background: #FDFDFD
	transition: 1s
	transform-origin: left center
		color: #D2D2D0}

	.content{
		padding: 100px 20%
}
		
		
nav{
	position: absolute
	margin-top: 50%
	left: -1000px
	transition: .5s
	ul{
		color: white
		text-transform: uppercase
			list-style-type: none}
	li{
		line-height: 2em
			letter-spacing: .3em}
	a{
		font-size: 30px
		text-decoration: none
		color: white
		font-weight: 600
		&:hover
			color: #eee
			}	}
p{
	line-height: 1.5em}
h1{
	color: #bbb}
