<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Refresh" content="0; url='https://faeq-f.github.io'" />
  <title>Faeq - Software Engineer</title>
  <meta name="description" content="Faeq's Personal Website">
  <link rel="icon" type="image/x-icon" href="https://faeq-f.github.io/circle-cropped-profile-image.png">
  <link rel="stylesheet" href="https://faeq-f.github.io/Main.css">
  <link rel="stylesheet" href="https://faeq-f.github.io/home.css">
  <link rel="stylesheet" href="https://faeq-f.github.io/gradButtons.css">
  <link rel="stylesheet" href="https://faeq-f.github.io/scrollFadeStyles.css">
  <link rel="stylesheet" href="https://faeq-f.github.io/timeline.css">
</head>

<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. 
        Please <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
  
</body>

</html>
