---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Faeq - Software Engineer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./Main.css">
        <link rel="stylesheet" href="./home.css">
        <link rel="stylesheet" href="./gradButtons.css">
        <link rel="stylesheet" href="./locomotiveScrollStyles.css">
        <link rel="stylesheet" href="./scrollFadeStyles.css">
        <link rel="stylesheet" href="./timeline.css">
        <script src="./LocomotiveScroll.js"></script>

        <script>
            function fadein(){
                
            }
            function setup(){
                // var h = document.getElementById("header");
                // var content = document.getElementsByClassName("pageContent");
                // content[0].style.marginTop = content[0].style.marginTop + h.offsetHeight+"px";
                fadein();
            }
        </script>
    </head>
<body onload="setup()">
        <div id="top"><p> </p></div>
        <!--[if lt IE 7]>
            <p class="browsehappy">
                You are using an <strong>outdated</strong> browser. 
                Please <a href="#">upgrade your browser</a> to improve your experience.
            </p>
        <![endif]-->
        <header id="header">
            <nav>
                <ul class="navbar">
                    <li><a href="#top">
                        <span class="headerText">Faeq</span>
                    </a></li>
                    <li><a href="">
                        <span class="headerText">About</span>
                    </a></li>
                    <li><a href="">
                        <span class="headerText">Portfolio</span>
                    </a></li>
                    <li class="right-li connectButton">
                        <a href="">
                            <button class="button-64" role="button"><span class="text">Let's connect</span></button>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div> -->
        </header>
        <div id="PageContent">
            <div data-scroll-container>
                <div data-scroll-section>
                    <p id="title" data-scroll data-scroll-speed="1">
                        <strong>Hello, I'm Faeq<br>A software engineer<br></strong>
                        <span style="display: inline-block;">
                            <button class="button-64" role="button"><span class="text">Download CV</span></button>
                        </span>
                        <span style="display: inline-block;">
                            <button class="button-64" role="button"><span class="text">See projects</span></button>
                        </span>
                    </p>
                    <div class="gradient" data-scroll data-scroll-speed="1"></div>
                    <div id="codeContainer" data-scroll data-scroll-speed="1"><p id="code"></p></div>
                </div>
                <div data-scroll-section>
                    <div class="pageContent">
                        <div class="timeline" data-scroll data-scroll-speed="1">
                            <div class="container left">
                                <div class="content">
                                    <h2>2017</h2>
                                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                                </div>
                            </div>
                            <div class="container right">
                                <div class="content">
                                    <h2>2016</h2>
                                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                                </div>
                            </div>
                            <div class="container left">
                                <div class="content">
                                    <h2>2015</h2>
                                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                                </div>
                            </div>
                            <div class="container right">
                                <div class="content">
                                    <h2>2012</h2>
                                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                                </div>
                            </div>
                            <div class="container left">
                                <div class="content">
                                    <h2>2011</h2>
                                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                                </div>
                            </div>
                            <div class="container right">
                                <div class="content">
                                    <h2>2007</h2>
                                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    
                        
                        <!-- <h2 >
                            <div class="item scrollFade section" id="MeContainer">
                                <div>
                                    <div>
                                        <div class="card item scrollFade section social">
                                            <img src=""/>
                                        </div>
                                        <div class="card item scrollFade section social">
                                            <img src=""/>
                                        </div>
                                        <div class="card item scrollFade section social">
                                            <img src=""/>
                                        </div>
                                        <div class="card item scrollFade section social">
                                            <img src=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h2>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
        <script src="./scrollfade-0.1.js"></script>
        <script>
            // When the user scrolls the page, execute myFunction 
            window.onscroll = function() {myFunction()};
            
            function myFunction() {
                var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
                var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
                var scrolled = (winScroll / height) * 100;
                document.getElementById("myBar").style.width = scrolled + "%";
            }
            // The debounce function receives our function as a parameter
const debounce = (fn) => {

// This holds the requestAnimationFrame reference, so we can cancel it if we wish
let frame;

// The debounce function returns a new function that can receive a variable number of arguments
return (...params) => {
  
  // If the frame variable has been defined, clear it now, and queue for next frame
  if (frame) { 
    cancelAnimationFrame(frame);
  }

  // Queue our function call for the next frame
  frame = requestAnimationFrame(() => {
    
    // Call our function and pass any params we received
    fn(...params);
  });

} 
};


// Reads out the scroll position and stores it in the data attribute
// so we can use it in our stylesheets
const storeScroll = () => {
document.documentElement.dataset.scroll = window.scrollY;
}

// Listen for new scroll events, here we debounce our `storeScroll` function
document.addEventListener('scroll', debounce(storeScroll), { passive: true });

// Update scroll position for first time
storeScroll();
        </script>
        <script src="./header.js"></script>
    </body>
</html>
