---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
    
   
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}" style="float: left; margin: -70px 0 0 0">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="">Test</a>
                            <p>This site is still uder development</p>
                            <a href="" class="btn zoombtn">test Read More</a>
                        </li>
                    </ul>
                </div>
                <div>
                <h3 align="center">I also have experience in the following languages and tools:</h3>
                <br>
                <a href="https://github.com/Faeq-F/" style="float: left;">
                  <img src="https://github-readme-stats.vercel.app/api?username=Faeq-F&amp;show_icons=true&include_all_commits=true&count_private=true&hide=stars,contribs" alt="Faeq's GitHub stats" max-width="250px">
                </a>
                <a href="https://github.com/Faeq-F/" style="float: left;">
                  <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=Faeq-F&amp;layout=compact&langs_count=4&card_width=252&exclude_repo=ASCII-art-viewer" alt="Top Langs">
                </a>
                <br>
                <a href="https://www.libreoffice.org/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=LibreOffice&amp;color=18A303&amp;logo=LibreOffice&amp;logoColor=FFFFFF" alt="LibreOffice">
                </a>
                <a href="https://www.office.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Microsoft Office&amp;color=D83B01&amp;logo=Microsoft Office&amp;logoColor=FFFFFF" alt="Microsoft Office">
                </a>
                <a href="https://www.office.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Microsoft PowerPoint&amp;color=DD472A&amp;logo=Microsoft PowerPoint&amp;logoColor=FFFFFF" alt="Microsoft Powerpoint">
                </a>
                <a href="https://www.office.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Microsoft Word&amp;color=2B579A&amp;logo=Microsoft Word&amp;logoColor=FFFFFF" alt="Microsoft Word">
                </a>
                <a href="https://www.office.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Microsoft Excel&amp;color=217346&amp;logo=Microsoft Excel&amp;logoColor=FFFFFF" alt="Microsoft Excel">
                </a>
                <a href="https://www.office.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Microsoft Onenote&amp;color=7719AA&amp;logo=Microsoft Onenote&amp;logoColor=FFFFFF" alt="Microsoft Onenote">
                </a>
                <a href="https://www.office.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Microsoft Outlook&amp;color=0078D4&amp;logo=Microsoft Outlook&amp;logoColor=FFFFFF" alt="Microsoft Outlook">
                </a>
                <a href="https://www.office.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Microsoft Access&amp;color=A4373A&amp;logo=Microsoft Access&amp;logoColor=FFFFFF" alt="Microsoft Access">
                </a>
                <a href="https://www.office.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Microsoft Teams&amp;color=6264A7&amp;logo=Microsoft Teams&amp;logoColor=FFFFFF" alt="Microsoft Teams">
                </a>
                <a href="https://www.adobe.com/uk/products/photoshop.html" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Adobe Photoshop&amp;color=31A8FF&amp;logo=Adobe Photoshop&amp;logoColor=FFFFFF" alt="Adobe Photoshop">
                </a>
                <a href="https://www.adobe.com/uk/products/illustrator.html" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Adobe Illustrator&amp;color=FF9A00&amp;logo=Adobe Illustrator&amp;logoColor=FFFFFF" alt="Adobe illustrator">
                </a>
                <a href="https://www.adobe.com/products/premiere.html" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Adobe Premiere Pro&amp;color=9999FF&amp;logo=Adobe Premiere Pro&amp;logoColor=FFFFFF" alt="adobe premiere">
                </a>
                <a href="https://www.adobe.com/products/xd.html" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Adobe XD&amp;color=FF61F6&amp;logo=Adobe XD&amp;logoColor=FFFFFF" alt="adobe xd">
                </a>
                <a href="https://acrobat.adobe.com/uk/en/acrobat/pdf-reader.html" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Adobe Acrobat Reader&amp;color=EC1C24&amp;logo=Adobe Acrobat Reader&amp;logoColor=FFFFFF" alt="adobe acrobat reader">
                </a>
                <a href="https://code.visualstudio.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Visual Studio Code&amp;color=007ACC&amp;logo=Visual Studio Code&amp;logoColor=FFFFFF" alt="visula studio code">
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=JavaScript&amp;color=F1AA00&amp;logo=javascript&amp;logoColor=FFFFFF" alt="JavaScript">
                </a>
                <a href="https://www.typescriptlang.org/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=TypeScript&amp;color=3178C6&amp;logo=TypeScript&amp;logoColor=FFFFFF" alt="Typescript">
                </a>
                <a href="https://www.json.org/json-en.html" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=JSON&amp;color=000000&amp;logo=JSON&amp;logoColor=FFFFFF" alt="JSON">
                </a>
                <a href="https://nodejs.org/en/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Node.js&amp;color=47d147&amp;logo=node.js&amp;logoColor=FFFFFF" alt="Node.js">
                </a>
                <a href="https://reactjs.org/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=React&amp;color=61BAFB&amp;logo=React&amp;logoColor=FFFFFF" alt="React">
                </a>
                <a href="https://www.electronjs.org/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Electron&amp;color=47848F&amp;logo=Electron&amp;logoColor=FFFFFF" alt="Electron">
                </a>
                <a href="https://html.spec.whatwg.org/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=HTML5&amp;color=E34F26&amp;logo=HTML5&amp;logoColor=FFFFFF" alt="HTML">
                </a>
                <a href="https://www.w3.org/Style/CSS/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=CSS3&amp;color=1572B6&amp;logo=CSS3&amp;logoColor=FFFFFF" alt="CSS">
                </a>
                <a href="https://sass-lang.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Sass&amp;color=CC6699&amp;logo=Sass&amp;logoColor=FFFFFF" alt="Sass">
                </a>
                <a href="https://www.python.org/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Python&amp;color=3C78A9&amp;logo=python&amp;logoColor=FFFFFF" alt="Python">
                </a>
                <a href="https://git-scm.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Git&amp;color=F05032&amp;logo=Git&amp;logoColor=FFFFFF" alt="Git">
                </a>
                <a href="https://github.com" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=GitHub&amp;color=181717&amp;logo=GitHub&amp;logoColor=FFFFFF" alt="Github">
                </a>
                <a href="https://spec.commonmark.org/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Markdown&amp;color=000000&amp;logo=Markdown&amp;logoColor=FFFFFF" alt="Markdown">
                </a>
                <a href="https://" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Terminal&amp;color=4D4D4D&amp;logo=Windows Terminal&amp;logoColor=FFFFFF" alt="Terminal">
                </a>
                <a href="https://docs.microsoft.com/en-gb/powershell/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=PowerShell&amp;color=5391FE&amp;logo=PowerShell&amp;logoColor=FFFFFF" alt="Powershell">
                </a>
                <a href="https://www.blender.org/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=Blender&amp;color=F5792A&amp;logo=Blender&amp;logoColor=FFFFFF" alt="Blender">
                </a>
                <a href="https://www.gimp.org/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&amp;message=GIMP&amp;color=5C5543&amp;logo=GIMP&amp;logoColor=FFFFFF" alt="Gimp">
                </a>
                <a href="https://www.docker.com/" style="float: left;">
                  <img margin = "10px auto" src="https://img.shields.io/static/v1?label=&message=Docker&color=2496ED&logo=Docker&logoColor=FFFFFF" alt="Docker">
                </a>
                <br>  
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
